[submodule "external/opencv"]
	path = external/opencv
	url = https://github.com/opencv/opencv
[submodule "external/opencv_contrib"]
	path = external/opencv_contrib
	url = https://github.com/opencv/opencv_contrib
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
